rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /challenges/{challengeId} {
      allow read: if true;
      allow create: if get(/databases/$(database)/documents/players/$(request.auth.uid)).data.role == 'admin';
    }

    match /players/{playerId} {
      allow read: if true;
      allow create: if true;

      allow update, delete: if request.auth.uid == playerId;
    }
  }
}
